* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    color: rgb(255, 255, 255);
    padding: 30px 0;
    line-height: 20px;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col {
    flex-basis: 25%;
    padding: 10px;
    margin: 0 10px;
}

footer .col p {
    text-align: justify;
}

footer .col h3 {
    font-size: 22px;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .logo {
    filter: brightness(0) invert(1);
    width: 160px;
    margin-bottom: 20px;
    position: relative;
}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer .links {
    font-size: 18px;
}

footer .links li {
    list-style: none;
    margin-bottom: 12px;
}

footer .links li a {
    text-decoration: none;
    color: #fff;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form .far {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    outline: none;
}

footer ::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #ccc;
}

footer .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}