* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MD Primer Bold, Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
}

.comments-title span::after {
    content: "";
    display: block;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.form-container {
    min-height: calc(100vh - 60px);
    width: 80%;
    max-width: 800px;
    margin: 30px 60px;
    padding: 25px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
}

#registration-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

#registration-form input {
    font-size: 18x;
    min-height: 25px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding-left: 2px;
}

#registration-form caption {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: darkblue;
}

button {
    border: none;
    width: 100px;
    color: darkblue;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    font-weight: bolder;
    border-radius: 10px;
}

.maybe-error {
    position: relative;
    display: flex;
    flex-direction: row;
}

.form-error {
    width: 300px;
    position: absolute;
    left: 180px;
    color: darkblue;
}

.inactive {
    display: none;
}