* {
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.panel-container {
    display: flex;
    width: 90vw;
}

.panel-container .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    flex: 0.5;
    position: relative;
    transition: flex 0.5s ease-in;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.panel-container .panel h3 {
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    opacity: 0;
}

.panel-container .panel.active {
    flex: 5;
}

.panel-container .panel.active h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in-out 0.4s;
}